.dropdown {
  width: 100%;
}

.dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  background-color: transparent;
}

.dropdown-menu .dropdown-item {
  background-color: transparent;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
