@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;800&display=swap');


.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 60px; */
}

.logo-openphone {
    display: flex;
    align-items: center;
}

.logo-openphone .openphone {
    margin-top: 1px;
    color:#4D5E80;
    font-weight: 600;
    font-size:x-large;

}


.dashboard {
    width: 128px;
    height: 20px;
    top: 53px;
    left: 105px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #ABABAB;
}

.logo1 {
    cursor: pointer;
}

.navbar-brand1 {
    width: 95px;
    height: 30px;
    top: 23px;
    left: 104px;
    gap: 0px;
    opacity: 0px;
    margin-left: 30px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #4D5E80;
    margin-bottom: 30px;

}

.tracking {
    cursor: pointer;
}

.search-icon {
    position: absolute;
    left: 21px;
    top: 17px;
    pointer-events: none;
}



.search {
    width: 100%;
    height: 100%;
    padding: 15px 20px 15px 50px;
    border: none;
    border-radius: 26px;
    outline: none;
    background-color: white;
    box-sizing: border-box;
}





.search::placeholder {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #ADB8CC;
}

.search-to::placeholder {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    /* text-align: left; */
    color: #ADB8CC;
}

.name {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    margin-right: 5px;
    color: #6B7A99;
    width: 48px;
    height: 25px;
    top: 34px;

}

.profileicon {
    margin-right: 15px;
    margin-top: -5px;
}

.profile {
    width: 30px;
    height: 30px;
    padding: 5px 0px 0px 0px;
}

.dashboard {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.link {
    color: blue;
    text-decoration: none;

}

.link:hover {
    text-decoration: underline;
}

.bellicon {
    margin-top: 2%;
    position: relative;
    cursor: pointer;
    margin-right: 25px;
}

.new-notification-dot {
    position: absolute;
    top: 5px;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #3361ff;
    border-radius: 50%;
    padding-left: 30%;
}

.notification-dropdown {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 9px;
    width: 434px;
    height: 351px;
    z-index: 1000;
    overflow-y: auto;
    /* Enables vertical scrolling */
    overflow-x: hidden;
    /* Hides horizontal scrolling */

}

.notification-dropdown ul {
    display: block;
    /* Display notifications in a column */

    list-style-type: none;
    padding: 3px 7px 7px 5px;
    margin: 0;
}

.notification-dropdown .notification-label {
    margin-left: 10px;
}

.notification-dropdown li {
    padding: 10px;
}

.notification-dropdown li.new-notification {
    color: #5A657B;
    font-weight: 400;
    font-size: 15px;
}

.main-notification {
    margin-left: 192px;
    margin-top: 13px;
    cursor: pointer;

}

.notificationInfo {
    background-color: white;
    color: green;
    border: 2px solid green;
    border-radius: 20px;
    padding: 0px 6px;
    margin-bottom: 0px;
    /* margin-top: -67px; */
    cursor: pointer;
    margin-left: 205px;
    font-size: 12px;
    border-color: green;
}
.notificationInfo2
{
    background-color: white;
    color: green;
    
    padding: 0px 6px;
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
    margin-left: 0px;
    font-size: 12px;
    border-color: green;
}


.call-icon {
    margin-right: 5px;
}

.icon-message {
    margin-right: 14px;
    margin-left: 4px;
    margin-top: 17px;
    /* padding: 8px 2px; */
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 11px;
    padding-left: 11px;
    border-radius: 22px;


}

.calls-text {
    margin-right: 1%;
    /* Adjust this value to control the distance */
}

.message-text {
    margin-left: 20px;
    /* Optional, depending on how you want to space things */
}

.event-from {
    margin-left: 49px;
    color: #5A657B;
    font-size: 18px;
    font-weight: 500;

}

.missed-message {
    color: #5A657B;
    font-size: 19px;
    font-weight: 400;

}

.message-body {
    margin-left: 56px;
}

.message-icon {
    margin-left: 28px;
    margin-right: 4px;
}

.icon-color {
    color: red
}

.event-from1 {

    margin-left: 38px;
    color: #5A657B;
    font-size: -127px;
    font-weight: 500;
}

.call-notifications {
    font-size: 19px;
    margin-left: 36px;
}

.missed-call {

    font-size: 18px;
    margin-left: 16px;
}

.notification-info1 {
    background-color: white;
    color: green;
    border: 2px solid green;
    border-radius: 20px;
    padding: 0px 6px;
    margin-bottom: 0px;
    cursor: pointer;
    margin-left: 20px;
    font-size: 12px;
    border-color: green;
}

.callset {
    margin-left: 25px;

}
