@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;800&display=swap');


.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.dashboard {
    width: 128px;
    height: 20px;
    top: 53px;
    left: 105px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #ABABAB;
}

.logo1 {
    cursor: pointer;
}

.navbar-brand1 {
    width: 95px;
    height: 30px;
    top: 23px;
    left: 104px;
    gap: 0px;
    opacity: 0px;
    margin-left: 30px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #4D5E80;
    margin-bottom: 30px;

}

.tracking {
    cursor: pointer;
}

.d-flex {
    margin-left: 40%;
}

.search-icon {
    position: absolute;
    left: 21px;
    top: 17px;
    pointer-events: none;
}



.search {
    width: 100%;
    height: 100%;
    padding: 15px 20px 15px 50px;
    border: none;
    border-radius: 26px;
    outline: none;
    background-color: white;
    box-sizing: border-box;
}

.search-wrapper::before {
    content: url('/icon.svg');
    position: absolute;
    left: 15px;
    top: 44%;
    transform: translateY(-50%);
    width: 17.05px;
    height: 17.06px;
}

/* .search-wrapper::after {
    content: url('/next.svg');
    position: absolute;
    left: 85%;
    top: 44%;
    transform: translateY(-50%);
    width: 17.05px;
    height: 17.06px;
} */

.search::placeholder {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #ADB8CC;
}

.search-to::placeholder {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    /* text-align: left; */
    color: #ADB8CC;
}

.name {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    margin-right: 30px;
    color: #6B7A99;
    /* margin-top: 2px; */
    width: 48px;
    height: 25px;
    top: 34px;
    left: 1271px;
    gap: 0px;
    opacity: 0px;


}

.profileicon {
    margin-right: 15px;
    margin-top: -5px;
}

.profile {
    width: 30px;
    height: 30px;
    left: 1231px;
    padding: 5px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;

}

.dashboard {
    font-size: 14px;
    /* Adjust size as needed */
    display: flex;
    align-items: center;
}

.link {
    color: blue;
    text-decoration: none;

}

.link:hover {
    text-decoration: underline;
}

.bellicon {
    margin-top: 2%;
    position: relative;
    cursor: pointer;
}

.new-notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #3361ff;
    border-radius: 50%;
    padding-left: 18%;
    padding-top: -88%;
}

.notification-dropdown {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 9px;
    width: 434px;
    /* height: 351px; */
    z-index: 1000;
    
  }
  
  .notification-dropdown ul {
    list-style-type: none;
    padding: 3px 7px 7px 5px;
    margin: 0;
  }

  .notification-dropdown .notification-label {
    margin-left: 10px; 
  }
  
  .notification-dropdown li {
    padding: 10px;
  }
  
  .notification-dropdown li.new-notification {
    color: #5A657B;
    font-weight: 400;
    font-size: 15px;
}
.main-notification{
    margin-left: 192px;
    margin-top: 13px;

}
.notification-info{
    background-color: white;
    color: green;
    border: 2px solid green;
    border-radius: 20px;
    padding: 0px 6px;
    margin-bottom: 0px;
    /* margin-top: -67px; */
    cursor: pointer;
    margin-left: 241px;
    font-size: 12px;
    border-color: green;
}

.call-icon{
    margin-right: 5px;
}
.icon-message{
    margin-right: 14px;
    margin-left: 4px;
    color: #EA0000;
    margin-top: 17px;
    /* padding: 8px 2px; */
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 11px;
    padding-left: 11px;
    border-radius: 22px;


}
.calls-text {
    margin-right: 1%; /* Adjust this value to control the distance */
  }
  
  .message-text {
    margin-left: 20px; /* Optional, depending on how you want to space things */
  }
  .event-from{
    margin-left: 49px;
    color: #5A657B;
    font-size:18px ;
    font-weight: 500;

  }
  .missed-message{
    color: #5A657B;
    font-size:19px ;
    font-weight: 400;

  }


  